<div class="sixteen wide column fellow-column-without-bottom-padding">
  <%= render "header", q: @q %>
</div>
<%= render "table", links: @links, show_errors: false %>

<%= javascript_include_tag "jquery.timeago.js" %>
